<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="jblv">
    <meta name="description" content="Group Project 4 Query 4">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <title>Query 4: Special feature</title>
</head>

<body>
    <h2>Special Feature (Spa)</h2>
    <!-- Get the max price to send to the db function -->
    <form class="form">
        <div>
            MaxPrice: <input name="maxprice" type="number" value="{{ maxprice }}"> &nbsp;
            <input class="button-56" type="submit">
        </div>
    </form>
    {% if data %}
    <div id="table_div" class="table-container"></div>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['table'] });
        google.charts.setOnLoadCallback(drawTable);

        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Service Category');
            data.addColumn('string', 'Service Name');
            data.addColumn('string', 'Price');
            data.addRows([
                {% for row in data %}
        ['{{ row[0] }}', '{{ row[1] }}', '{{ row[2] }}',],
            {% endfor %}
            ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, { showRowNumber: true, page: true, pageSize: 50, allowHtml: true });
        google.visualization.events.addListener(table, "select", function () {
            let selection = table.getSelection();
            let item = selection[0];
            if (item) {
                let service_name = document.getElementById("service_name");
                service_name.value = data.getValue(item.row, 1);
            }
        });
        }
    </script>
    <!-- Order a service (throught db) -->
    <h2>Order Service</h2>
    <hr>
    <!-- app.py route /order_service -->
    <form action="order_service">
        <div>Selected service:
            <input id="service_name" name="service_name" type="text" size="10">
            <input class="button-56" type="submit" value="Order">
        </div>
    </form>
    {% endif %}
</body>

</html>